body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}


.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #f0f0f0;
}

.hero h2 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    color: #333;
}

.hero p {
    color: #666;
}

.buttons .btn {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.buttons .btn:hover {
    background-color: #555;
}


.features {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.feature {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.feature h3 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #333;
}

.feature p {
    color: #666;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
    padding: 0;
}
