/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.notes-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.note {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.note h2 {
    margin-top: 0;
    color: #333;
}

.note p {
    color: #666;
    margin-bottom: 10px;
}

.note-options {
    display: flex;
    justify-content: space-between;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover, .delete-btn:hover {
    background-color: #555;
}
