<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarea</title>
    <link rel="stylesheet" type="text/css" href="../static/editarTarea.css">
</head>
<body>
    <div class="container">
        <h1>Editar Tarea</h1>
        <form id="task-form" th:action="@{'/tareas/editar/' + ${tarea.id}}" method="POST">
            <div class="form-group">
                <label for="title">Título:</label>
                <input type="text" id="title" name="titulo" th:value="${tarea.titulo}" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción:</label>
                <textarea id="description" name="descripcion" required th:text="${tarea.descripcion}"></textarea>
            </div>

            <div class="form-group">
                <label for="status">Estado:</label>
                <select id="status" name="estado" required>
                    <option value="Pendiente" th:selected="${tarea.estado == 'Pendiente'}">Pendiente</option>
                    <option value="Progreso" th:selected="${tarea.estado == 'Progreso'}">En Progreso</option>
                    <option value="Completada" th:selected="${tarea.estado == 'Completada'}">Completada</option>
                </select>
            </div>
            
            <button type="submit" class="btn">Guardar Tarea</button>
        </form>
        
    </div>
    <button type="button" onclick="window.location.href='/menu'" class="btn_salir">Volver al Menú</button>
</body>
</html>
