<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestor de Tareas</title>
    <link rel="stylesheet" href="../static/index.css"/>
</head>
<body>
    <div class="container">
        <header>
            <h1>Gestor de Tareas</h1>

        </header>
        <main>
            <section class="hero">
                <h2>Bienvenido al Gestor de Tareas</h2>
                <p>Organiza tu vida de manera eficiente</p>
                <div class="buttons">
                    <a th:href="@{/login}" class="btn">Iniciar Sesión</a>
                    <a th:href="@{/registro}" class="btn">Registrarse</a>
                </div>
            </section>
            <section class="features">
                <h2>Características Principales</h2>
                <div class="feature">
                    <h3>Gestión de Tareas</h3>
                    <p>Organiza tus tareas de manera efectiva.</p>
                </div>
                <div class="feature">
                    <h3>Calendario Integrado</h3>
                    <p>Sincroniza tus tareas con tu calendario.</p>
                </div>
                <div class="feature">
                    <h3>Recordatorios</h3>
                    <p>Recibe notificaciones para no olvidar tus tareas importantes.</p>
                </div>
            </section>
        </main>
        <footer>
            <p>&copy; 2024 Gestor de Tareas. Todos los derechos reservados.</p>
        </footer>
    </div>
</body>
</html>
