<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - Gestor de Tareas</title>
    <link rel="stylesheet" type="text/css" href="../static/inicio.css">
</head>
<body>
    <div class="container">
        <form method="post" th:action="@{/logincheck}" class="login-form">
            <h2>Iniciar Sesión</h2>
            <div class="input-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="email" placeholder="Ingresa tu usuario">
            </div>
            <div class="input-group">
                <label for="passwords">Contraseña</label>
                <input type="passwords" id="passwords" name="password" placeholder="Ingresa tu contraseña">
            </div>
            <button type="submit">Iniciar Sesión</button>
            <p>¿No tienes una cuenta? <a th:href="@{/registro}">Regístrate aquí</a></p>
        </form>
    </div>
</body>
</html>
