<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Gestor de Tareas</title>
    <link rel="stylesheet"  href="../static/menu.css"/>
</head>
<body>
    <header>
       
        <nav class="menu">
            <ul>
                <li><a href="#">Cerrar sesion</a></li>
              
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h2>Bienvenido al Gestor de Tareas</h2>
            <p class="subheading">Organiza tu vida de manera eficiente</p>
            <div class="buttons">
                <a th:href="@{/tareas/crear}" class="btn">Crear Tarea </a>
                <a th:href="@{/tareas/lista}" class="btn">Ver Tareas</a>
            </div>
        </section>
        <section class="features">
            
            <div class="feature">
                <h3>Gestión de Tareas</h3>
                <p>Organiza tus tareas de manera efectiva.</p>
            </div>
            <div class="feature">
                <h3>Calendario Integrado</h3>
                <p>Sincroniza tus tareas con tu calendario.</p>
            </div>
            <div class="feature">
                <h3>Recordatorios</h3>
                <p>Recibe notificaciones para no olvidar tus tareas importantes.</p>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Gestor de Tareas. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
