<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse - Gestor de Tareas</title>
    <link rel="stylesheet" href="../static/registro.css">
</head>
<body>
    <div class="container">
        <form class="register-form" th:action="@{/usuario/registro}" method="post">
            <h2>Registrarse</h2>
            <div class="input-group">
                <label for="usernames">Usuario</label>
                <input type="text" id="usernames" name="username" placeholder="Ingresa tu usuario">
            </div>

            <div class="input-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="contraseña" placeholder="Ingresa tu contraseña">
            </div>
            <button type="submit">Registrarse</button>
            <p>¿Ya tienes una cuenta? <a th:href="@{/login}">Inicia sesión aquí</a></p>
        </form>
    </div>
</body>
</html>
