<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas del Usuario - Gestor de Tareas</title>
    <link rel="stylesheet" href="../static/verTareas.css">
</head>
<body>
    <div class="container">
        <h1>Notas del Usuario</h1>
        <div class="notes-container">
            <!-- Utiliza un bucle th:each para iterar sobre la lista de tareas -->
            <div th:each="tarea:${tareas}" class="note">
                <!-- Utiliza th:text para establecer el texto dinámicamente -->
                <h2 th:text="${tarea.titulo}">Titulo de la Tarea</h2>
                <p th:text="${tarea.descripcion}">Descripción de la Tarea...</p>
                <p th:text="'Estado: ' + ${tarea.estado}">Estado: Pendiente</p>
                <div class="note-options">
                    <form th:action="@{'/tareas/editar/' + ${tarea.id}}" method="GET">
                        <button class="edit-btn">Editar Nota</button>
                    </form>

                    <form th:action="@{'/tareas/eliminar/' + ${tarea.id}}" method="POST">
                        <button type="submit" class="delete-btn">Borrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
